
.container {
  width:100%;
  min-height:624px;
  font-size:14px;
  font-family: '微软雅黑',  Arial, sans-serif;
  background:white;
  padding-top: 10px;
}
.loading{
   text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}


.title{
  background: url('images/d_tit.png') no-repeat left center;
  padding:5px 0 5px 22px;
  color: #FF6600;
  display: inline-block;
  margin: 10px 20px;
  overflow: hidden;
}

.body{
  width: 90%;
  background: white;
  margin: 0 auto;
  border-bottom: 1px solid #E8E6E4;
  overflow: hidden;
}
.interval{
  margin-top: 20px;
}
/*ul.body{
  display: flex;
  width: 90%;
  background: white;
  margin: 0 auto;
  border: 0;
  overflow: hidden;
  padding: 40px 0 40px 20px;
  margin-bottom: 20px;
}
li div p:first-child{
  font-size: 14px;
  text-align: center;
}
li div p:last-child{
  color: #FF3400;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 0;
  padding:0 18px;
}*/
.flex{
  display: flex;
  margin: 20px auto;
}
.flex li{
  flex: 1;
}
ul.body{
  display: flex;
  width: 90%;
  background: white;
  margin: 0 auto;
  border: 0;
  overflow: hidden;
  padding: 40px 0 40px 20px;
  margin-bottom: 20px;
}
.li li div p:first-child{
  font-size: 14px;
  text-align: center;
}
.li li div p:last-child{
  color: #FF3400;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 0;
  padding:0 18px;
}



.summarySummary p.pData,p.pData{
  border: 0;
  color: #666460;
  font-size: 24px;
  font-weight: bold;
  margin-bottom:20px;
  text-align: center;
}
p.pData{
  margin-top: 20px;
}
.pdata{
  width: 50%;
}
.summarySummary p.pData~ul{
  margin-bottom: 20px;
}

.pvuv{
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 40px 0;
}
.pvuv li{
  float: left;
  padding: 5px 20px;
  margin-right: 10px;
}

.dataSummary{
  padding:2px 0 2px 58px;
  background: url(images/pic_4.png) no-repeat left center;
}
.dataSummary1{
  background: url(images/pic_1.png) no-repeat left center;
}
.dataSummary2{
  background: url(images/pic_2.png) no-repeat left center;
}
.dataSummary3{
  background: url(images/pic_3.png) no-repeat left center;
}
.summarySummary ul{
  display: flex;
}
.summarySummary ul li{
  flex: 1;
  float: left;
  font-size: 14px;
}
.summarySummary ul li span{
  color: #FF6600;
  font-size:16px;
  font-weight: bolder;
}
.TableInterval{
  float: left;
  width: 50%;
}
