.container {
  width:100%;
  min-height:624px;
  font-size:14px;
  font-family: '微软雅黑',  Arial, sans-serif;
  background: white;
  padding-top: 10px;
}
.body{
  width: 90%;
  background: white;
  margin: 0 auto;
  border-bottom: 1px solid #E8E6E4;
  overflow: hidden;
}
.body li{
  width: 100px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}
ul.body{
  border: 0;
  margin-top: 20px;
}
.center{
  margin: 0 auto;
  width:600px;
}
.flex{
  display: flex;
  margin: 20px auto;
}
.flex li{
  flex: 1;
}
